.pop {
  min-height: 50px;
  border: 1px solid whitesmoke;
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.lock-background {
  background-color: #c3c3c3;
}

.unlock-background {
  background-color: #e1dddd;
}

.hidden-background {
  background-color: #d6e3e2;
  color: darkgray;
}

.icon-class {
  cursor: pointer;
  color: #656667;
}

.sort_icon_position {
  margin-top: 1%;
}

.pointer_cursor {
  cursor: pointer;
}

.col-title {
  color: #656667;
  font-weight: 500;
}

.col-desc {
  color: #656667;
  font-size: small;
}

.list-background {
  border: solid 1px #ccc;
  min-height: 50px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.divcontainer {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.divdisplay {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.config-heading {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.searchcss {
  border: 2px dotted;
  background: antiquewhite !important;
}

.config-card {
  max-height: calc(80vh - 122px);
  float: left;
}

.config-card-col {
  max-height: calc(80vh - 122px);
  float: left;
}

.config-card-content {
  width: 101%;
  height: calc(80vh - 175px);
  overflow: auto;
  padding-right: 1px;
}

.action-icons {
  padding-right: 3px;
  padding-left: 3px;
  white-space: nowrap;
}

.mat-card-content {
  margin: -10px;
}

.cdk-drag-preview {
  padding: 10px;
  max-width: 15%;
  min-height: 50px;
  border: 2px dotted grey;
}

.cdk-drag-placeholder {
  border: 2px dashed grey;
  min-height: 50px;
}

.k-icon {
  font-size: 20px;
  cursor: pointer;
}

.input-group-addon {
  background: #fff;
  border: none;
  line-height: 0;
  color: #ccc;
  padding: 0 3px;
  padding-left: 15px;
  border-radius: 20px 0 0 20px;

  &.right {
    border-radius: 0 50px 50px 0;

    #searchoptions-btn {
      width: 24px;
      height: 24px;

      mat-icon {
        color: var(--icons);
        position: absolute;
        top: 0px;
        right: 5px;
      }
    }
  }

  &.dropdown-toggle {
    cursor: pointer;
    padding-left: inherit;
    border-radius: 0 20px 20px 0;
    color: var(--background-tertiary);

    &:hover {
      background-color: #eee;
    }
  }
}

#searchCol {
  border: none;
  box-shadow: none;
  height: auto;
}

.search_txt_group {
  width: 200px;
  float: right;
}

.search_txt_div {
  text-align: right;
  margin-top: -18px;
  margin-bottom: -1px;
  padding-right: unset;
}

.drag_drop_msg {
  position: absolute;
  font-size: small;
  top: 50%;
  left: 5%;
  right: 5%;
  font-weight: 500;
}

.reset_icon {
  float: right;
  margin-right: 3%;
  cursor: pointer;
}

.height {
  max-height: 70vh;
}
.icon-padding {
  padding-top: 8px;
}

.disableDiv {
  pointer-events: none;
  background-color: #ccc;
}

.mat-dialog-content{
  max-height: calc(82vh - 122px);
}