@import "ag-grid-community/src/styles/ag-grid.scss";
@import "ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

shelf-ag-grid {
    .grid {
        width: 100%;
        flex: '1 1 auto';
        font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    }

    .ag-theme-alpine {
        @include ag-theme-alpine(( // Colour of text and icons in primary UI elements like menus
                foreground-color: #6F6F6F,

                // Colour of text in grid cells
                data-color: ag-derived(foreground-color),

                // Colour of text and icons in UI elements that need to be slightly less emphasised to avoid distracting attention from data
                secondary-foreground-color: ag-derived(foreground-color),

                // Colour of text and icons in the header
                header-foreground-color: #656565, //ag-derived(secondary-foreground-color),

                // Color of elements that can't be interacted with because they are in a disabled state
                disabled-foreground-color: ag-derived(foreground-color, $opacity: 0.5),

                // Background colour of the grid
                background-color: #ffffff,

                // Background colour for all headers, including the grid header, panels etc
                //header-background-color: rgb(78, 150, 152),
                header-background-color: #f3f6f7,


                // Background colour for second level headings within UI components
                subheader-background-color: null,

                // Background colour for toolbars directly under subheadings (as used in the chart settings menu)
                subheader-toolbar-background-color: null,

                // Background for areas of the interface that contain UI controls, like tool panels and the chart settings menu
                control-panel-background-color: null,

                // Background color of selected rows in the grid and in dropdown menus
                selected-row-background-color: #009dff3d, //ag-derived(background-color, $mix: foreground-color 25%),

                // Background colour applied to every other row or null to use background-color for all rows
                odd-row-background-color: #e1e7ea,

                // Background color of the overlay shown over the grid when it is covered by an overlay, e.g. a data loading indicator.
                modal-overlay-background-color: ag-derived(background-color, $opacity: 0.66),

                // Background color when hovering over rows in the grid and in dropdown menus, or null for no rollover effect (note - if you want a rollover on one but not the other, set to null and use CSS to achieve the rollover)
                row-hover-color: #0b3c5a3d, //ag-derived(background-color, $opacity: 0.66) ,//null,

                // Background color when hovering over columns
                column-hover-color: null,

                // Color to draw around selected cell ranges
                range-selection-border-color: rgb(55, 57, 155), //rgb(78, 150, 152), //ag-derived(foreground-color),

                // Background colour of selected cell ranges. By default, setting this to a semi-transparent color (opacity of 0.1 to 0.5 works well) will generate appropriate values for the range-selection-background-color-{1..4} colours used when multiple ranges overlap.
                // NOTE: if setting this value to a CSS variable, and your app supports overlapping range selections, also set range-selection-background-color-{1..4}.
                //range-selection-background-color: ag-derived(range-selection-border-color, $opacity: 0.2),

                // These 4 parameters are used for fine-grained control over the background color used when 1, 2, 3 or 4 ranges overlap.
                range-selection-background-color-1: ag-derived(range-selection-background-color),
                range-selection-background-color-2: ag-derived(range-selection-background-color, $self-overlay: 2),
                range-selection-background-color-3: ag-derived(range-selection-background-color, $self-overlay: 3),
                range-selection-background-color-4: ag-derived(range-selection-background-color, $self-overlay: 4),

                // Background colour to apply to a cell range when it is copied from or pasted into
                range-selection-highlight-color: ag-derived(range-selection-border-color),

                // Colour and thickness of the border drawn under selected tabs, including menus and tool panels
                selected-tab-underline-color: ag-derived(range-selection-border-color),
                selected-tab-underline-width: 0,
                selected-tab-underline-transition-speed: null,

                // Background colour for cells that provide categories to the current range chart
                range-selection-chart-category-background-color: rgba(#00FF84, 0.1),

                // Background colour for cells that provide data to the current range chart
                range-selection-chart-background-color: rgba(#0058FF, 0.1),

                // Rollover colour for header cells
                header-cell-hover-background-color: null,

                // Colour applied to header cells when the column is being dragged to a new position
                header-cell-moving-background-color: ag-derived(header-cell-hover-background-color),

                // Colour to apply when a cell value changes and enableCellChangeFlash is enabled
                value-change-value-highlight-background-color: rgba(#16A085, 0.5),

                // Colours to apply when a value increases or decreases in an agAnimateShowChangeCellRenderer cell
                value-change-delta-up-color: #43a047,
                value-change-delta-down-color: #e53935,

                // Colour for the "chip" that repersents a column that has been dragged onto a drop zone
                chip-background-color: null,

                // By default, color variables can be overridden at runtime by CSS variables, e.g.
                // background-color can be overridden with the CSS var --ag-background-color. Pass true
                // to disable this behaviour.
                suppress-css-var-overrides: false,

                //
                // BORDERS
                //

                // Draw borders around most UI elements
                borders: true,

                // Draw the few borders that are critical to UX, e.g. between headers and rows.
                borders-critical: ag-derived(borders),

                // Draw decorative borders separating UI elements within components
                borders-secondary: ag-derived(borders),

                // Draw borders around sidebar tabs so that the active tab appears connected to the current tool panel
                borders-side-button: ag-derived(borders),

                side-bar-panel-width: 200px,

                border-radius: 0px,

                // Colour for border around major UI components like the grid itself, headers, footers and tool panels
                border-color: #d0d0d0, //ag-derived(background-color, $mix: foreground-color 25%),

                // Colour for borders used to separate elements within a major UI component
                secondary-border-color: ag-derived(border-color),

                // Colour of the border between grid rows, or null to display no border
                row-border-color: ag-derived(secondary-border-color),

                // Default border for cells. This can be used to specify the border-style and border-color properties e.g. `dashed red` but the border-width is fixed at 1px.
                cell-horizontal-border: solid transparent,

                // Separator between columns in the header. Displays between all header cells For best UX, use either this or header-column-resize-handle but not both
                header-column-separator: false,
                header-column-separator-height: 100%,
                header-column-separator-width: 1px,
                header-column-separator-color: ag-derived(border-color, $opacity: 0.5),

                // Visible marker for resizeable columns. Displays in the same position as the column separator, but only when the column is resizeable. For best UX, use either this or header-column-separator but not both
                header-column-resize-handle: false,
                header-column-resize-handle-height: 50%,
                header-column-resize-handle-width: 1px,
                header-column-resize-handle-color: ag-derived(border-color, $opacity: 0.5),

                //
                // INPUTS
                //

                // Suppress styling of checkbox/radio/range input elements. If you want to style these yourself, set this to true. If you only want to disable styling for some kinds of input, you can set this to true and e.g. @include ag-native-inputs((checkbox: false)) which will emit styles for all kinds of input except checkboxes.
                suppress-native-widget-styling: false,

                input-border-color: null,
                input-disabled-border-color: ag-derived(input-border-color, $opacity: 0.3),
                input-disabled-background-color: null,

                checkbox-background-color: null,
                checkbox-border-radius: ag-derived(border-radius),
                checkbox-checked-color: ag-derived(foreground-color),
                checkbox-unchecked-color: ag-derived(foreground-color),
                checkbox-indeterminate-color: ag-derived(checkbox-unchecked-color),

                toggle-button-off-border-color: ag-derived(checkbox-unchecked-color),
                toggle-button-off-background-color: ag-derived(checkbox-unchecked-color),
                toggle-button-on-border-color: ag-derived(checkbox-checked-color),
                toggle-button-on-background-color: ag-derived(checkbox-checked-color),
                toggle-button-switch-background-color: ag-derived(background-color),
                toggle-button-switch-border-color: ag-derived(toggle-button-off-border-color),
                toggle-button-border-width: 1px,
                toggle-button-height: ag-derived(icon-size),
                toggle-button-width: ag-derived(toggle-button-height, $times: 2),

                input-focus-box-shadow: null,
                input-focus-border-color: null,

                // CHART SETTINGS

                // Color of border around selected chart style
                minichart-selected-chart-color: ag-derived(checkbox-checked-color),
                // Color of dot representing selected page of chart styles
                minichart-selected-page-color: ag-derived(checkbox-checked-color),


                //
                // SIZING / PADDING / SPACING
                //

                // grid-size is the main control for affecting how tightly data and UI elements are packed together. All padding and spacing in the grid is defined as a multiple of grid-size, so increasing it will make most components larger by increasing their internal white space while leaving the size of text and icons unchanged.
                grid-size: 4px,

                // The size of square icons and icon-buttons
                icon-size: 12px,

                // These 4 variables set the padding around and spacing between widgets in "widget containers" which are parts of the UI that contain many related widgets, like the set filter menu, charts settings tabs etc.
                widget-container-horizontal-padding: ag-derived(grid-size, $times: 1.5),
                widget-container-vertical-padding: ag-derived(grid-size, $times: 1.5),
                widget-horizontal-spacing: ag-derived(grid-size, $times: 1.5),
                widget-vertical-spacing: ag-derived(grid-size),

                // Horizontal padding for grid and header cells (vertical padding is not set explicitly, but inferred from row-height / header-height
                cell-horizontal-padding: ag-derived(grid-size, $times: 3),

                // Horizontal spacing between widgets inside cells (e.g. row group expand buttons and row selection checkboxes)
                cell-widget-spacing: ag-derived(cell-horizontal-padding),

                // Height of grid rows
                row-height: ag-derived(grid-size, $times: 6, $plus: 1),

                // Height of header rows
                header-height: ag-derived(row-height),

                // Height of items in lists (example of lists are dropdown select inputs and column menu set filters)
                list-item-height: ag-derived(grid-size, $times: 5),

                // How much to indent child columns in the column tool panel relative to their parent
                column-select-indent-size: ag-derived(grid-size, $plus: icon-size),

                // How much to indent child rows in the grid relative to their parent row
                row-group-indent-size: ag-derived(cell-widget-spacing, $plus: icon-size),

                // How much to indent child columns in the filters tool panel relative to their parent
                filter-tool-panel-group-indent: 16px,

                // Cause tabs to stretch across the full width of the tab panel header
                full-width-tabs: false,

                // Fonts
                //font-family: 'Roboto, Helvetica Neue, sans-serif', //("Helvetica Neue", sans-serif),
                font-size: 13px,

                // The name of the font family you're using
                icon-font-family: $ag-theme-base-icon-font-family, // this var exported by ag-theme-base-font-vars.scss

                // A URI (data: URI or web URL) to load the icon font from. NOTE: if your icon font is already loaded in the app's HTML page, set this to null to avoid embedding unnecessry font data in the compiled theme.
                icons-data: $ag-theme-base-icons-data, // this var exported by ag-theme-base-font-vars.scss
                icons-font-codes: $ag-theme-base-icons-font-codes, // this var exported by ag-theme-base-font-vars.scss

                // cards are elements that float above the UI
                card-radius: ag-derived(border-radius),

                // the default card shadow applies to simple cards like column drag indicators and text editors
                card-shadow: none,

                // override the shadow for popups - cards that contain complex UI, like menus and charts
                popup-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)));


    }

    .ag-theme-alpine {
        .ag-row {
            font-size: 13px;
        }
    }

    .ag-theme-alpine .ag-menu {
        background-color: white !important;
    }

    .ag-header-cell,
    .ag-header-group-cell {
        border-right: 1px solid #d0d0d0;
    }

    .ag-cell {
        border-right: 1px solid #d0d0d0 !important;
    }

    .ag-rich-select-value,
    .ag-cell-inline-editing {
        height: 44px !important;
    }

    // .ag-header-cell-label {
    //     justify-content: left;
    // }

    .ag-input-field-input.ag-checkbox-input,
    .ag-icon.ag-icon-menu,
    .ag-header-icon.ag-header-label-icon.ag-sort-order,
    .ag-header-icon.ag-header-label-icon.ag-filter-icon,
    .ag-header-icon.ag-header-label-icon.ag-sort-descending-icon,
    .ag-header-icon.ag-header-label-icon.ag-sort-ascending-icon {
        color: #656565;
    }


    .ag-column-drop.ag-column-drop-horizontal {
        height: 40px;
    }

    .ag-column-drop-horizontal-title-bar {
        &.ag-column-drop-title-bar {
            margin-left: 3%;
        }
    }

    //---------For ScrollBar -------------------
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background: none !important;

    }



    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        background: #808483;
        -webkit-box-shadow: inset 0 0 6px #ccc;
        box-shadow: inset 0 0 6px #ccc;
        min-width: 60px;
        min-height: 60px;
    }


    ::-webkit-scrollbar-thumb:active {
        background: #808483;
    }



    ::-webkit-scrollbar-thumb:window-inactive {
        background: #808483;
    }

    //----------For Column Icon Menu----------------

    .ag-header-icon.ag-header-cell-menu-button {
        opacity: 1 !important;
    }

    .ag-theme-alpine .ag-icon-menu::before {
        content: '\2807';
        font-size: large;
    }

    //----------For Column Icon Menu End----------------

    //-------For dropdown-list-----
    .ag-rich-select {
        background-color: aliceblue !important;
        font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 13px !important;
    }

    .ag-rich-select-list {
        background-color: aliceblue;
        height: auto !important;
        overflow: auto;
        max-height: 162.5px;
    }

    //----------For Column Icon Menu End----------------

    //----------For column menu popup-------------------
    //@TODO:@pranita remove importatnt
    .ag-theme-alpine.ag-popup .ag-menu {
        font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 13px !important;
    }

    .ag-theme-alpine .ag-tabs-header .ag-tab.ag-tab-selected {
        color: #2196f3 !important;
    }

    .ag-theme-alpine .ag-tabs-header.ag-menu-header .ag-tab {
        padding: 9px !important;
        flex: 1 1 auto !important;
    }

    .ag-theme-alpine .ag-tabs-header.ag-menu-header .ag-tab .ag-icon-menu::before {
        content: "\2807" !important;
        color: var(--icons) !important;
    }

    .ag-theme-alpine .ag-tabs-header.ag-menu-header .ag-tab.ag-tab-selected .ag-icon-menu:hover,
    .ag-theme-alpine .ag-tabs-header.ag-menu-header .ag-tab.ag-tab-selected .ag-icon-menu::after,
    .ag-theme-alpine .ag-tabs-header.ag-menu-header .ag-tab.ag-tab-selected .ag-icon-menu::before {
        color: #2196f3 !important;
    }


    .ag-theme-alpine .ag-mini-filter {
        margin: 12px 12px !important;
    }


    .ag-input-field-input.ag-text-field-input {
        padding-left: 6px !important;
        min-height: 24px !important;
        border-radius: 3px !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #babfc7 !important;
    }

    .ag-theme-alpine .ag-column-select-header {
        height: 48px !important;
    }

    .ag-theme-alpine .ag-checkbox-input-wrapper {
        font-size: 16px;
        line-height: 16px;
        border-radius: 3px;
        display: inline-block;
    }

    .ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after {
        border-color: var(--foreground-quaternary);
        color: var(--foreground-quaternary);
        background-color: var(--foreground-primary);
    }

    .ag-theme-alpine .ag-fill-handle {
        left: 97%;
    }

    //----------For column menu popup end-------------------

    //----------For grid config-------------------
    .icon {
        position: absolute;
        z-index: 1000;
        color: white !important;
        cursor: pointer;
        background-color: #4e9698;
    }

    .icondiv {
        text-align: right;
        padding-right: 25px;
        position: relative;
    }

    //----------For grid config end-------------------

    //----------For active menu------------------
    .ag-grid-menu-option-selected {
        background-color: #e1e7ea;
    }

    .ag-menu-option-active {
        color: #6F6F6F;
    }

    //------For active menu end---------

    //-------filter Menu------------
    .ag-filter-apply-panel {
        margin-bottom: 1.5rem !important;
    }

    .ag-filter-virtual-list-container {
        margin-bottom: 1.5rem !important;
        overflow: visible;
    }

    //Handle alignment for 
    .ag-set-filter-item-checkbox {
        .ag-input-field-label {
            lib-cell-renderer {
                span {
                    display: inline-block;
                }
            }
        }
    }

    //------filter menu end---------

    //---------cell styling---------
    .ag-cell-value {
        &.ag-cell {
            padding: 8px 12px !important;
        }
    }

    #promoteDemoteGrid {
        .ag-cell-value {
            &.ag-cell {
                line-height: min(var(--ag-line-height, 1.2em), 1.2em);
            }
        }
    }

    //--------cell styling end------

    //---for column which have link like scenario name---
    .btn {
        &.btn-link {
            color: #6F6F6F;
            font-size: 13px;
            padding-left: 0.15rem;
            padding-top: 0;
            text-underline-offset: 3px;
        }

        &:focus:focus-within {
            box-shadow: none;
        }
    }


    //-----------------column link css end------------
    .pLibRow {
        color: #6F6F6F;
        font-size: 13px;
        text-underline-offset: 3px;
        text-decoration: underline;
    }

    //---------------- Must-stock checkbox -------------------

    lib-cell-renderer {
        span {
            .checkbox {
                &.npi-MustStock {
                    margin-left: 1.5rem;
                }
            }

        }
    }

    //---------------- Must-stock checkbox end ---------------

    //For product library image
    .productImg {
        overflow: hidden;
        height: 98%;
        width: 98%;
        text-align: center;

        .img {
            height: 100%;
        }
    }

    // for no image in peg library scree 
    .noImg{
        height: 30px !important;
        margin-left: 20px !important;
        width: 37px;
    }

    .borderLeftPurple {
        border-left: 3px solid purple;
    }

    .mat-checkbox-indeterminate {
        .mat-checkbox-background {
            background-color: #00acc1 !important;
        }
    }

    //--------- AG Pivot grid --------------------
    .ag-side-bar {
        .ag-tool-panel-wrapper {
            .ag-pivot-mode-panel {
                min-height: 48px;
                height: 48px;
                display: flex;
            }

            .ag-column-select-header {
                align-items: center;
                padding: 0 48;
                border-bottom: solid 1px #dde2eb;
            }

            .ag-column-select-header-checkbox {
                margin-right: 12px;
            }

            .ag-toggle-button-input-wrapper {
                box-sizing: border-box;
                width: 28px;
                height: 18px;
                background-color: #999;
                border-radius: calc(18px * 0.5);
                position: relative;
                flex: none;
                border: 1px solid;
                border-color: #999;

                &.ag-checked {
                    background-color: #4e9698;
                    border-color: #4e9698;

                    &::before {
                        left: calc(100% - 18px);
                        border-color: #4e9698;
                    }
                }

                &::before {
                    content: " ";
                    position: absolute;
                    top: calc(0px - 1px);
                    // left: calc(0px - 1px);
                    display: block;
                    box-sizing: border-box;
                    height: 18px;
                    width: 18px;
                    background-color: #fff;
                    border-radius: 100%;
                    transition: left 100ms;
                    border: 1px solid;
                    border-color: #999;
                }
            }

            .ag-pivot-mode-select {
                margin-left: 12px;
                display: flex;
                align-items: center;

                .ag-label {
                    margin-left: 6px;
                }
            }

            .ag-checkbox {
                &.ag-input-field {
                    margin-right: 12px;
                }
            }

            .ag-drag-handle {
                &.ag-column-select-column-drag-handle {
                    margin-right: 12px;
                }
            }

            .ag-column-select-list {
                border-bottom: solid 1px #dde2eb;
                font-size: 12px !important;
            }

            .ag-column-drop-vertical {
                border-bottom: solid 1px #dde2eb;
                overflow: auto;
                min-height: 65px;
                font-size: 12px !important;
            }


            .ag-column-drop-vertical-cell {
                margin-top: 6px;
            }

            .ag-column-drop-cell {
                background: rgba(24, 29, 31, 0.07);
                border-radius: 24px;
                height: 24px;
                padding: 0 3;
                border: 1px solid transparent;
            }

            .ag-column-drop-vertical {
                .ag-column-drop-vertical-list {
                    .ag-column-drop-vertical-cell {
                        .ag-column-drop-vertical-cell-button {
                            color: #181d1f;
                            cursor: pointer;
                            min-width: 28px;
                            margin: 3px;

                            .ag-icon::before {
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 16px;
                                font-variant: normal;
                                text-transform: none;
                                background-color: #181d1f;
                                color: white;
                                border-radius: 32px;
                                width: 16px;
                                height: 16px;
                                display: grid;
                                align-content: center;
                            }
                        }
                    }
                }
            }
        }

        .ag-side-buttons {
            .ag-side-button {
                &.ag-selected {
                    // Css applied to Columns menu
                    border-left: 2px solid;
                    border-left-color: #4e9698;
                }
            }

            .ag-side-button-button {
                // border of columns removed
                border: none;

                &:hover {
                    color: #4e9698;
                }
            }
        }
    }

    //----------------- AG pivot grid css end-------------------
}

//-------- AG Sort Order spacing ----------------
.ag-sort-order {
    padding-left: 7%;
}

// For row selection on checkbox cell click  
.ag-selection-checkbox {
    .ag-input-wrapper {
        &.ag-checkbox-input-wrapper {
            input {
                &.ag-input-field-input {
                    &.ag-checkbox-input {
                        height: 48px !important;
                        width: 61px !important;
                        padding: 0 !important;
                        margin-left: -13px !important;
                        margin-top: -9px !important;
                    }
                }
            }
        }
    }
}

.ag-dnd-ghost {
    background-color: white;
    z-index: 9999;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;

    .ag-dnd-ghost-label {
        margin-left: 9px;
    }
}

.ag-dnd-ghost-icon {
    .ag-icon {
        &.ag-icon-not-allowed {
            position: relative;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid black;
        }
    }
}

.ag-dnd-ghost-icon {
    .ag-icon {
        &.ag-icon-not-allowed::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 79%;
            width: 2px;
            height: 97%;
            background-color: #000;
            transform: rotate(45deg);
            transform-origin: top;
        }
    }
}

shelf-analysis-report {
    ag-grid-angular {
        .ag-body-viewport {
            .ag-cell-value {
                &.ag-cell {
                    lib-cell-renderer {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

.ag-filter-toolpanel {
    .ag-filter-virtual-list-item {
        .ag-input-field-label {
            &.ag-label {
                &.ag-checkbox-label {
                    margin-right: 4px;
                    margin-left: 6px;
                }
            }
        }
    }
}

.edited-cell::after {
    content: '*';
    color: red;
}