.tooltipHolder {
    width: 100%;
    height: 100%;

    .svg {
      width: 100%;
      height: 100%;

      .noPogImage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        p {
          flex: 0 0 120px;
        }
      }
    }
  }


  ::ng-deep svg.svgPosition {
    vertical-align: top;
  }


  .svg_placeHolder {

  cursor: inherit;
  margin: 0;
  padding: 0;
  height: 15px;
}
