.multiple-clone-wrapper {
  .mat-radio-button {
    &.mat-accent {
      &.mat-radio-checked {
        .mat-radio-persistent-ripple {
          background-color: transparent;
        }
      }
    }
  }

  .matdialogcntnr {
    cursor: pointer;
    margin-right: 15px;
    font-size: 0.93em;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }

  .radiobntnr {
    margin: 10px 0;
  }

  .mat-dialog-title {
    margin-bottom: 10px;
  }
}