


.mat-typography {
  .editor-body {
    margin-top: 3%;
  }

  .k-numerictextbox .k-numeric-wrap {
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
    font-size: 12px;
  }
}

.mat-dialog-title {
  margin: 0 0 -5px !important;
}
