<div fxLayout="row" fxLayoutAlign="start center">
  <div *ngIf="corpList">

    <mat-form-field style="margin-right:10px;">
      <mat-select [(ngModel)]="modelCorpIdSelected" placeholder="{{'SYNC_BANNER' | translate}}">
        <mat-option *ngFor="let option of corpList trackBy: trackByCorp" [value]="option.IDCorp">
          {{option.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="pogType">

    <mat-form-field>
      <mat-select [(ngModel)]="pogTypeSelect" placeholder="{{'CHOOSE_POGTYPE' | translate}}"
        (selectionChange)="valueChange(pogTypeSelect)">
        <mat-option *ngFor="let option of pogType trackBy: trackByType" [value]="option.value">
          {{option.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="planogramStoreHierarchyTreeWrapper">
  <div class="row">
    {{'HIERARCHY_HIER' | translate}}
  </div>
  <div style="overflow:auto;">
    <div class="content-tree">
      <kendo-treeview [nodes]="parsedData" textField="name" kendoTreeViewExpandable kendoTreeViewSelectable
        [expandBy]="'id'" kendoTreeViewHierarchyBinding [hasChildren]="hasChildren" [children]="fetchChildren"
        (selectionChange)="onNodeSelect($event)" (expand)="handleExpand($event)"
        (collapse)="handleCollapse($event)" [(expandedKeys)]="expandedKeys">
      </kendo-treeview>
    </div>
  </div>
</div>