.dialogCloseIcon {
    float     : right;
    margin-top: -48px;

    mat-icon {
        margin: 0 5px;
        cursor: pointer;
        margin-top: 10px;
        color: white;
    }
}

.scroll-class{
    overflow: hidden;
}