.quadrantCntnr {
  padding: 0 5px;

  .sliderCntnr {
    margin-bottom: 45px;
    margin-top: 23px;
    width: 96%;
  }

  .cart-list-allocate-view {
    border: 1px solid #e0e0e0;
    width: 100%;
    height: calc(100vh - 30em);
    overflow: auto;

    .matprogressbarCntnr {
      left: -28px;
      position: absolute;
      width: 50px;
      /*bottom: 60%;*/
      mat-progress-bar {
        transform: rotate(270deg);
      }
    }

    .list-view {
      list-style: none;
      padding: 0;

      .column-five {
        line-height: 2em;
        min-height: 2px;
        float: right;
        width: 55px;
      }

      .card-prod {
        background-color: #fff;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0 15px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 12px;
        position: relative;
        z-index: 4;
        box-shadow: none;

        .card-img {
          top: 5px;
          left: 9px;
          position: absolute;
          /* width: 50px; */
          bottom: 48%;

          #card-checkbox {
            display: none;
          }

          .card-bg {
            height: 50px;
            max-width: 50px;
            background: #ccc;
            border-radius: 50%;
            color: #000;
          }

          &:hover {
            #card-checkbox {
              display: block;
              margin: 20px 25px;
            }

            .card-bg {
              display: none;
            }
          }

          .small-avatar-image {
            border: 3px solid white;
            border-radius: 41px;
            overflow: hidden;
            height: 55px;
            width: 55px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
          }
        }

        .card-data {
          width: 94%;
          display: inline-block;
          vertical-align: top;
          line-height: 2.1rem;
          margin-left: 45px;

          i {
            color: #9e9e9e;
            font-style: normal;
          }
        }

        .card-unit,
        .col-five {
          width: 10%;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }

  .cart-list-shelf-view {
    border: 1px solid #e0e0e0;
    width: 100%;
    height: calc(100vh - 28em);
    overflow: auto;

    .matprogressbarCntnr {
      left: -28px;
      position: absolute;
      width: 50px;
      /*bottom: 60%;*/
      mat-progress-bar {
        transform: rotate(270deg);
      }
    }

    .list-view {
      list-style: none;
      padding: 0;

      .column-five {
        line-height: 2em;
        min-height: 2px;
        float: right;
        width: 55px;
      }

      .card-prod {
        background-color: #fff;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0 15px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 12px;
        position: relative;
        z-index: 4;
        box-shadow: none;

        .card-img {
          top: 5px;
          left: 9px;
          position: absolute;
          /* width: 50px; */
          bottom: 48%;

          #card-checkbox {
            display: none;
          }

          .card-bg {
            height: 50px;
            max-width: 50px;
            background: #ccc;
            border-radius: 50%;
            color: #000;
          }

          &:hover {
            #card-checkbox {
              display: block;
              margin: 20px 25px;
            }

            .card-bg {
              display: none;
            }
          }

          .small-avatar-image {
            border: 3px solid white;
            border-radius: 41px;
            overflow: hidden;
            height: 55px;
            width: 55px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
          }
        }

        .card-data {
          width: 94%;
          display: inline-block;
          vertical-align: top;
          line-height: 2.1rem;
          margin-left: 45px;

          i {
            color: #9e9e9e;
            font-style: normal;
          }
        }

        .card-unit,
        .col-five {
          width: 10%;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }

  ::ng-deep .noUi-connects {
    .noUi-connect:nth-child(1){
      background: #FF0000;
    }
    .noUi-connect:nth-child(2){
      background: #00FF00;
    }
  }
}
