.sapp-spectrum-palette {
  height: 30px;
}

.sapp-spectrum-palette .main-palette-container {
  color: white;
}

.sapp-spectrum-palette .main-palette-container .palette-range-holder {
  height: 11px;
}