.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .multiple-value-holder{
    position: relative;
    height: calc(100vh - 570px);
    border: 1px solid #F0F0F0;
    overflow-y: scroll;
    .material-icons{
        font-size: 12px;
    }
  }
  .upright-dialog-main .row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .red-text {
    color: #f44336 !important;
}