.sapp-panel-body {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: auto;
    .planogram-holder {
        // display: none;
        height: 100%;

        .box-content {
            position: relative;
            background-color: #fff;
            display: flex;
            // height: 94%;
            height: 100%;
            width: 100%;
        }

        .ui-selected {
            background-color: orange !important;
        }

        .ui-selectable {
            -ms-touch-action: none;
            touch-action: none;
        }

        .ui-selectable-helper {
            position: absolute;
            z-index: 99999;
            border: 1px dotted black;
        }

        .ui-selectmenu-menu {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }

        .ui-selectmenu-menu .ui-menu {
            overflow: auto;
            overflow-x: hidden;
            padding-bottom: 1px;
        }

        .ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
            font-size: 1em;
            font-weight: bold;
            line-height: 1.5;
            padding: 2px 0.4em;
            margin: 0.5em 0 0 0;
            height: auto;
            border: 0;
        }

        .ui-selectmenu-open {
            display: block;
        }

        .ui-selectmenu-text {
            display: block;
            margin-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ui-selectmenu-button.ui-button {
            text-align: left;
            white-space: nowrap;
            width: 14em;
        }

        .ui-selectmenu-icon.ui-icon {
            float: right;
            margin-top: 0;
        }
    }

    .thumbnail-holder {
        position: absolute;
        top: 10px;
        bottom: 0;
        left: 0;
        right: 0;

        .tooltipHolder {
            width: 100%;
            height: 100%;

            .svg {
                width: 100%;
                height: 100%;

                .noPogImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    p {
                        flex: 0 0 120px;
                    }
                }
            }
        }
    }

    .ui-selected {
        background-color: orange !important;
    }

    .ui-selectable {
        -ms-touch-action: none;
        touch-action: none;
    }

    .ui-selectable-helper {
        position: absolute;
        z-index: 99999;
        border: 1px dotted black;
    }

    .ui-selectmenu-menu {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .ui-selectmenu-menu .ui-menu {
        overflow: auto;
        overflow-x: hidden;
        padding-bottom: 1px;
    }

    .ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
        font-size: 1em;
        font-weight: bold;
        line-height: 1.5;
        padding: 2px 0.4em;
        margin: 0.5em 0 0 0;
        height: auto;
        border: 0;
    }

    .ui-selectmenu-open {
        display: block;
    }

    .ui-selectmenu-text {
        display: block;
        margin-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ui-selectmenu-button.ui-button {
        text-align: left;
        white-space: nowrap;
        width: 14em;
    }

    .ui-selectmenu-icon.ui-icon {
        float: right;
        margin-top: 0;
    }
}
