#confirmation-actions {
    float: right;
    margin-bottom: -10px;
}

.dialogCloseIcon {
    float: right;
    margin: -20px -15px 0px 0px;

    mat-icon {
        cursor: pointer;
    }
}

.text-align-center{
    text-align: center;
}